/* styles */
body
{
  background-color:#1e1f1f;
}
h1
{color:red;}
p{color: blue;}
ul{color: brown;}
h2{color:red;}
span{color:blueviolet;}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
}
img{ width: 200px;
   height:200px;}
   .nocode-img{margin-left: 20px;
  margin-top: 20px;}

   .full-page{position:fixed;width: 1350px;
    margin-top: -90px;
  margin-left: -10px;}
 
 .sec1{
 background-color: rgb(120, 167, 206);
  overflow: hidden;
  width: 265px;
  
  flex-direction: column;
  border: 1px solid deepskyblue;
  height: 450px;
  padding: 20px;
  margin-left: 10px;
  position: fixed;
  border-radius: 10px;
  margin-top: 25px;
}

.sec2{ text-decoration:none;
  background-color: rgba(132, 223, 223, 0.507);
  border: 4px solid rgb(68, 2, 63); 
margin-left: 320px;
padding-left: 20px;
padding-right: 20px;
width: 970px;
margin-top: 90px;

}
.box22{ 
  
   text-align:center;
  }
  .box5{border: 3px  rgb(68, 2, 63);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(131, 185, 202);
    margin-top: 3px;  margin-left: 320px;
    border:none;
    }
.box6{  text-align: center;
margin-top: 5px;
  padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
  border: 3px solid rgb(177, 109, 109); 
  margin-left: 320px;  background-color: rgb(103, 180, 206);
}
.box61{border: 1px solid black;
  background-color: lightblue;
}
.box62{border: 1px solid black;
margin-top: 10px;
padding-top: 20px;
background-color: lightblue;}
.box63{border: 1px solid black;
  margin-top: 10px;
  padding-top: 20px;
  background-color: lightblue;}
.box7{background-color: #1f0c33;
  margin-top: 3px;
  padding-left: 20px;
padding-right: 30px;
padding-bottom: 10px;
  border: 3px solid black; 
  margin-left: 320px;
}
.box8{border: 3px solid black;
  background-color: lightblue;
  margin-top: 3px;
  margin-left: 320px;border: none;

}


.box9{ margin-top: -14px;
  padding-left: 20px;
padding-right: 20px;
  border: 3px solid black;
  background-color: rgb(131, 185, 202);
  margin-left: 320px;
  border: none;
}
.box10{word-spacing: 26px;}
.fa-thumbs-up{
  font-size: 30px;
  color: aliceblue;
}
main{
    
  width: 100%;
  

}
.navbar{
  position:relative;
  width: 100%;
  height: 80px;
  margin:0;
  background-color:rgb(39, 39, 39);
 
}
.icon{
  width: 200px;
  float: left;
  height: 70px;
}
.logo{
  color:blue;
  font-size: 40px;
  float: left;
  padding-top: 0px;
  margin-left: 30px;
}
.menu{
  width: 200px;
  float: left;
  height: 80px;

}
.home{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home li{
  list-style: none;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 14px;
}
.home li a{
  text-decoration: none;
  color: rgb(255, 30, 214);
  font-weight: bold;
  font-family: arial;
  
}
.home li a:hover{
  color:blue;
  border:3px solid pink;
  height: 05px;
  padding: 05px;
  border-radius: 10px;

}
.search{

  width: 450px;
  float: left;
  margin-left: 230px;
  margin-top: 20px;

 
}
#btn1{
  width: 200px;
  height: 40px;
  background-color: snow;
  border: 2px solid blue;
  font-size: 15px;
  color: turquoise;
  margin-top: 20px;
  margin-left:10px ;
  border-radius: 25px;
}
#btn1:hover{
  width: 300px;
  height: 40px;
  background-color:  rgb(216, 216, 114);
  border: 2px solid rgb(0, 102, 255);
  font-size: 15px;
  color: rgb(212, 254, 5);
  margin-top: 20px;
  margin-left:10px ;
  border-radius: 25px;
}
.fa-twitter-square{
color: blue;
background-color: white; 
font-size: 23px;


}
.fa-address-book{
  font-size: 23px;
  color:white;
}
